<html>
<head>
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>

</head>
<body>
<img src="/static/WeatherBay_1_cropped_192_93.jpg" alt="WeatherBay logo" style="width:192px;height:93px;">
<H3>WeatherBay: Get the weather forecast with Bayesian inference.</H3>

<br>

<form action="/" method="post">
  {% csrf_token %} 
  {{ form }}
<input type="submit" value="Submit" />
</form>

<br>
{{ my_city }}
<br>
{{ forecast_date }}
<br>

<center>
	<figure class="icons">
	        <canvas id="{{ icon1 }}" width="{{ iw_1 }}" height="{{ iw_1 }}">
	        </canvas>
	
	        <canvas id="{{ icon2 }}" width="{{ iw_2 }}" height="{{ iw_2 }}">
	        </canvas>
	
	        <canvas id="{{ icon3 }}" width="{{ iw_3 }}" height="{{ iw_3 }}">
	        </canvas>
	        
	        <canvas id="{{ icon4 }}" width="{{ iw_4 }}" height="{{ iw_4 }}">
	        </canvas>
	</figure>
</center>

<script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
{{ script|safe }}
{{ div|safe }}


 <table style="width:60%">
  <tr>
    <td>  <a href="https://www.wunderground.com/weather/api/" target="_blank">
  			<img src="/static/The_Weather_Company_IBM_Byline.svg.png" alt="The Weather Company" style="width:64px;height:64px;border:0;">
  			<br>The Weather Company
		</a> 
	</td>
    <td>
    		<a href="https://www.accuweather.com/" target="_blank">
  			<img src="/static/accuweather_icon.jpeg" alt="AccuWeather" style="width:64px;height:64px;border:0;">
			<br>AccuWeather
			</a> 
    </td>
    <td>  <a href="https://darksky.net" target="_blank">
  			<img src="/static/dark_sky_icon.jpeg" alt="Dark Sky" style="width:64px;height:64px;border:0;">
  			<br>Dark Sky
			</a> 
    </td>
        <td>  <a href="http://www.weather.gov/" target="_blank">
  			<img src="/static/nws_icon.png" alt="The National Weather Service" style="width:64px;height:64px;border:0;">
  			<br>The National Weather Service
			</a> 
    </td>
  </tr>
</table> 



<br>
{{ post_dict }}
<br>


  <script src="/static/skycons.js"></script>

    <script>
      var icons = new Skycons(),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;
      for(i = list.length; i--; )
        icons.set(list[i], list[i]);
      icons.play();
    </script>
    
</body>
</html>
