<html>
<head>
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>

</head>
<body>
<H1>Weather Bay</H1>

<form action="/" method="post">
  {{ form }}
<input type="submit" value="Submit" />
</form>

<br>
{{ my_city }}

</body>
</html>
